@model IPagedList<Electronic_Bank.Models.Client>
@using PagedList
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Clients";
}
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
    <div class="card-body">
        <h4 class="display-2">Clients</h4>
        <br />
        <p>
            <a class="btn btn-secondary btn-rounded btn-fw" asp-action="Create">Create New</a>
                @using (Html.BeginForm("Index", "Clients", FormMethod.Get))
                {
                    <p>
                        <input type="text" name="searchString" placeholder="@ViewBag.CurrentFilter as string" class="form-control me-sm-2"/>
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </p>
                }
            
            
        </p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>    
                        @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.AddressSortParm, currentFilter = ViewBag.CurrentFilter})
                    </th>
                    <th>
                        @Html.ActionLink("Phone", "Index", new { sortOrder = ViewBag.PhoneSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        <img src="~/imgs/@Html.DisplayFor(modelItem => item.ImagePath)" width="70" class="img-thumbnail rounded-circle" alt="@Html.DisplayFor(modelItem => item.ImagePath)"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @*@Html.PagedListPager(Model, page => Url.Action("Index", 
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@

    </div>
</div>
</div>