@model Electronic_Bank.Models.Currency

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-6 grid-margin stretch-card">
<div class="card">
<div class="card-body">

    <h4 class="card-title">Details</h4>
    <div>
    <h4>Currency</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValuetoUSD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValuetoUSD)
        </dd>
    </dl>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-light" asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>